html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: grid;
    overflow: hidden;
    cursor: url('../assets/cursor.png'), auto;
}

.con {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

}


.overlap {
    grid-column: 1;grid-row: 1;
}

@keyframes fade-out {
    from {
       opacity: 1;
    }
    to {
       opacity: 0;
    }
}
pre {
    pointer-events: auto;
    font-family: DOS;
    width: 581px;
    height:356px;
    overflow:scroll;
}

button {
    width: 40px;
    height: 40px;
    /* border-radius: 5px; */
    padding: auto;
    text-align: center;
    padding-left: 8.9px;
    padding-top: 3px;
    font-family: DOS;
    font-size: 30px;
    border: 2px solid #341E1C;
    background-color: #F9E8BA;
}

.noclick {
    user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
}